<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Edge Dash</title>
        <link href="{{ url_for('static', filename='css/admin_styles.css') }}" rel="stylesheet" />
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Page content-->
                Contents go here for {{ user }}
            </div>
        </div>

        <!-- Bootstrap core JS-->
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    </body>
</html>