{
  "?1": "Make a copy of this file, named 'dev_settings.json', and fill in the values.",
  "?2": "This will allow EdgeSession() to work locally for testing/development.",
  "?3": "DO NOT CHECK THE dev_settings.json FILE INTO SOURCE CONTROL.",

  "EDGE_API_TOKEN": "<YOUR_API_TOKEN>",
  "EDGE_API_ORG": "<ORG_ID>",
  "EDGE_API_SERVICE_URL": "https://edge.enthought.com/services/api"
}